@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

header {
    background-color: #4285f4;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selects {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.languageSelector {
    width: 200px;
    padding: 8px;
}

.inputOutputContainer {
    display: flex;
    height: 100%;
}

.inputContent,
.outputContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.inputContent {
    border-right: 1px solid #ddd;
}

.outputContent {
    display: grid;
}

textarea {
    width: calc(100% - 20px);
    height: 100px;
    border: none;
    resize: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
}

.outputContent img {
    width: 50%;
    height: 50%;
}
